  body {
    background: no-repeat url(img/фон.svg);
    background-size: cover;
    margin: 0;
 }
  .header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
  .wrapper {
    width: 100%
  }
  
  .logo,
  .menu {
    display: inline-block;
  }
  
  .logo {
    width: 190px;
    height: 60px;
    background: no-repeat url(img/logo.svg);
  }
  
  .menu {
    display: flex;
    color: #f8eee4;
    font-family: Museo Sans Cyrl , arial, helvetica, sans-serif;
  }
  
  .menu__item {
    position: relative;
    font-family: Museo Sans Cyrl , arial, helvetica, sans-serif;
    text-decoration: none;
    color: #f8eee4;
    font-style: normal;
    line-height: 130px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }
    
  .main__title {
    color: #f8eee4;
    font: 50px/65px  'PT Serif', serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    color: #f8eee4;
    font-family: Museo Sans Cyrl , arial, helvetica, sans-serif;
  }

  .main__title_transparent {
    opacity: 0.6;
    font-size: 280px;
    line-height: 371px;
    display: flex;
    align-items: center;
    font-family:  'PT Serif', serif, arial, helvetica, sans-serif;
  }

  .main__title_contrasting {
    font-weight: bold;
    font-size: 98px;
    line-height: 130px;
    display: flex;
    align-items: center;
    font-family: 'PT Serif', serif, arial, helvetica, sans-serif;
    
  }
  
  .main__button {
    background: #D4BEA3;
    border-radius: 48px;
    color: white;
    position: relative;
  }
  
  #checkbox {
    display: none;
  }

@media (max-width: 1920px){
  .header {
    margin-bottom: 60px;
  }

  .logo {
    margin-top: 52px;
    margin-left: 200px;
    background-size: 77%;
    }
  
  .menu {
    display: flex;
    font-size: 22px;
    margin-top: 10px;
    justify-content: flex-end;
    margin-right: 33px;
    padding-right: 82px;
    }
  
  .menu__item {
    padding: 0 5px;
    margin: 0 15px;
    }

  .main {
    margin: 0 0 32px 197px
    }

  .main__title_contrasting {
    letter-spacing: 4px;
    position: absolute;
    top: 501px;
    left: 282px;
  }

  .main__title_transparent {
    font-weight: 1000;
    margin: 0 0 2px 6px;
    padding-bottom: 34px;
    letter-spacing: 12px;
  }

  .main__subtitle {
    max-width: 28%;
    font-size: 22px;
    padding-left: 24px;
    margin: 0 0 18px 0;
    top: 654px;
    position: absolute;
    word-spacing: 1px;
  }

  .main__button {
    position: relative;
    font-size: 24px;
    width: 293px;
    height: 64px;
    margin: 81px 0 0 25px;
  }

  .pic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 386px;
    right: 0;
  }

  .pic__item {
    margin-right: 34px;
 }

   .pic__item:last-child {
     margin-right: 0;
   }
  }

