  html {
    overflow: hidden;
  }

  body {
    background: no-repeat url(img/фон.svg);
    margin: 0;
    height: 100%;
    background-size: cover;
 }
  .header {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  
  .wrapper {
    width: 80%;
  }
  
  .logo,
  .menu {
    display: inline-block;
  }
  
  .logo {
    width: 190px;
    height: 60px;
    background: no-repeat url(img/logo.svg);
  }
  
  .menu {
    display: flex;
    align-items: center;
    color: #f8eee4;
    font-family: Museo Sans Cyrl , arial, helvetica, sans-serif;
  }
  
  .menu__item {
    position: relative;
    margin-right: 26px;
    font-family: Museo Sans Cyrl , arial, helvetica, sans-serif;
    text-decoration: none;
    color: #f8eee4;
    font-style: normal;
    line-height: 130px;
  }

  .menu__item:last-child {
    margin-right: 0;
  }
  
  .main {
    padding: 0 63% 100px 0;
  }
  
  .main__title {
    color: #f8eee4;
    margin: 0 0 40px 0;
    font: 50px/65px  'PT Serif', serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    color: #f8eee4;
    margin: 0 0 40px 0;
    font-size: 22px;
    font-family: Museo Sans Cyrl , arial, helvetica, sans-serif;
  }

  .main__title_transparent {
    opacity: 0.6;
    font-size: 280px;
    line-height: 371px;
    display: flex;
    align-items: center;
    font-family:  'PT Serif', serif, arial, helvetica, sans-serif;
  }

  .main__title_contrasting {
    font-weight: bold;
    font-size: 98px;
    line-height: 130px;
    display: flex;
    align-items: center;
    font-family: 'PT Serif', serif, arial, helvetica, sans-serif;
    
  }
  
  .main__button {
    padding: 14px 16px;
    background: #D4BEA3;
    border-radius: 48px;
    color: white;
    transition: all 150ms ease-in-out;
    position: relative;
  }
  
  #checkbox {
    display: none;
  }

@media (max-width: 1920px) {
  .wrapper {   
    width: 80%;
    margin-left: 190px;
    }

  .logo {
    margin-left: 10px;
    margin-top: 50px;
  }

  .menu {
    margin: 10px 16px 0 10px ;
    padding-right: 120px;
    padding-left: 35px;
    max-width: 300px;
    min-width: 150px;
    font-size: 22px;
  }

  .menu__item {
    padding-left: 15px;
    max-width: 150px;
    min-width: 60px;
  }

  .main__title_transparent {
    position: relative;
    margin-top: -54px;
    margin-left: 15px;
    max-width: 500px;
    min-width: 200px;
    font-weight: 700;
    padding-right: 30px;
    font-weight: 700;
    letter-spacing: 10px;
  }

  .main__title_contrasting {
    position: absolute;
    margin-top: -175px;
    margin-left: 90px;
    letter-spacing: 4px;
    max-width: 500px;
    min-width: 250px;
  }

  .main__subtitle {
    margin-top: -20px;
    margin-left: 33px;
    max-width: 530px;
    min-width: 300px;
  }

  .main__button {
    max-width: 500px;
    min-width: 300px;
    height: 62px;
    margin-left: 32px;
    font-family: Museo Sans Cyrl;
    font-size: 22px;
    margin-top: -4px;
  }

  .img1 {
    position: relative;
    left: 55%;
    bottom: 550px;
  }

  .img2 {
    position: relative;
    left: 57%;
    bottom: 570px;
  }

  .img3 {
    position: relative;
    left: 59%;
    bottom: 565px;
  }

  .img4 {
    display: none;
  }
  }

@media (max-width: 1720px) {
  .wrapper {
    width: 80%;
    margin-left: 190px;
    }

  .logo {
    margin-top: 50px;
    }

  .menu {
    margin: 10px -418px 0 10px ;
    padding-right: 120px;
    padding-left: 35px;
    max-width: 300px;
    min-width: 150px;
    font-size: 22px;
    }

  .main {
      padding-right: 30px;
    }

  .main__subtitle {
    word-spacing: 1px;
    }

  .img1 {
    position: relative;
    left: 77%;
    bottom: 545px;
  }

  .img2 {
    position: relative;
    left: 80%;
    bottom: 570px;
    }

  .img3 {
    position: relative;
    left: 82%;
    bottom: 565px;
    }

 .img4 {
   display: none;
    }
  }


@media  (max-width: 1218px) {
  .wrapper { 
    width: 85%;
    padding-right: 110px;
    margin-left: 30px;
    }
  
  .header {
    margin-top: 20px;
    width: 95%;
    }
  
  .logo {
    font-size: 27px;
    margin-left: 43px;
    margin-top: 45px;
    }

  .menu {
    margin-right: -548px;
  }

  .menu__item-start {
    padding-left: 24px;
    letter-spacing: 1px;
  }

  .menu__item-services {
    padding-right: 40px;
    margin-left: -10px;
    letter-spacing: 2px;
  }

  .menu__item-about {
    letter-spacing: 3px;
  }

  .menu__item-blog {
    margin-left: 11px;
    letter-spacing: 3px;
  }

  .menu__item-contact {
    letter-spacing: 2px;
  }

  .main__title_transparent {
    font-size: 350px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 20px;
    letter-spacing: 0px;
  }

  .main__title_contrasting {
    margin-top: px;
    margin-left: 135px;
    padding-top: 15px;
    letter-spacing: 11px;
    display: flex;
    align-items: center;
  }

  .main__button {
    font: 25px/30px 'museo_sans_cyrl500', arial, helvetica, sans-serif;
    display: inline-block;
    background: #d4bea3;
    padding: 17px 87px;
    border-radius: 48px;
    position: relative;
    height: 80px;
    left: 40px;
}

  .main__subtitle {
    margin-top: 22px;
    margin-left: 60px;
    font-size: 24px;
    padding-right: 110px;
    max-width: 600px;
    min-width: 300px;
    letter-spacing: px;
    line-height: 30px;
    word-spacing: 2px;
  }

  .img1 {
    position: relative;
    left: 90%;
    height: 495px;
    bottom: 610px;
  }

  .img2 {
    position: relative;
    left: 93%;
    height: 430px;
    bottom: 640px;
  }

  .img3 {
    position: relative;
    width: 8%;
    left: 96%;
    height: 440px;
    bottom: 635px;
  }
}

@media  (max-width: 910px) {
  .img3 {
    display: none;
  }
}

@media  (max-width: 865px) {
  .img1 {
    display: none;
  }

  .img2 {
    display: none;
  }

  .menu {
    padding: 4px 10px 7px 0;
    margin-right: -165px;
  }
}

@media  (max-width: 480px) {
  .menu {
    display: none;
  }

  .logo {
    background-size: 90%;
    height: 150px;
    width: 160px;
    padding: 0 30px 0 50px;
    margin: 19px 0 0 45px;
  }

  .wrapper {
    width: 86%;
  }

  .menu-line {
    justify-content: flex-end;
    display: flex;
    position: absolute;
    width: 50px;
    height: 5px;
    top: 130px;
    background: #fcF5ed;
    right: 0;
    margin-right: -310px;
    max-width: 400px;
    min-width: 50px;
  }

  .menu-line::after {
    position: absolute;
    top: 10px;
    content: '';
    width: 50px;
    height: 5px;
    display: block;
    background: #fcF5ed;
  }

 .menu-line::before {
  position: absolute;
  top: -10px;
  content: '';
  width: 50px;
  height: 5px;
  display: block;
  background:#fcF5ed;
  }

  #checkbox:checked ~ .menu-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  #checkbox:checked ~ .menu-line {
    background-color: transparent;
  }

  #checkbox:checked ~ .menu-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
 
  #checkbox:checked ~ .menu {
    display: flex;
    flex-direction: column;
    visibility: visible;
    background: #fff;
    position: absolute;
    width: 375px;
    height: 700px;
    z-index: 1;
  }

  label {
    z-index: 2;
  }

  .main__subtitle {
    font-size: 35px;
    padding: 0 36px;
    margin: 120px 0 35px 24px;
    max-width: 120%;
    min-width: 560px;
    display: flex;
    text-align: center;
    line-height: 43px;
    word-spacing: 2.6px;
  }
  
  .main__title_contrasting {
    margin-top: -150px;
    letter-spacing: 5px;
    font-size: 120px;
    margin-left: 120px;
  }

  .main__title_transparent {
    margin-top: -50px;
    margin-left: -15px;
    letter-spacing: 9px;
  }

  .main__button {
    font-size: 35px;
    left: 140px;
    display: inline-block;
    max-width: 600px;
    min-width: 430px;
    margin-top: 38px;
    margin-left: -20px;
    height: 90px;
  }
}

